.cita-container {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 20px;
  margin-top: 40%;
  text-align: center;
}

.frase {
  font-size: 1.1rem;
  color: #1e63ff;
  margin-bottom: 8px;
}

.autor {
  font-size: 0.9rem;
  text-align: right;
  color: #222;
}
